#### Data Manipulation and Analysis with Pandas

Data manipulation and analysis are key tasks in any data science or data analysis project.Pandas provides a wide range of function for data manipulation and analysis,making it easier to clean,transform and extract insight from data.

In [2]:
import pandas as pd
df=pd.read_csv('2.csv')
## Fecth the first five rows
df.head(5)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,E84A904909dF528,Liu-Hoover,http://www.day-hartman.org/,Western Sahara,Ergonomic zero administration knowledge user,1980,Online Publishing,6852
1,2,AAC4f9aBF86EAeF,Orr-Armstrong,https://www.chapman.net/,Algeria,Ergonomic radical budgetary management,1970,Import / Export,7994
2,3,ad2eb3C8C24DB87,Gill-Lamb,http://lin.com/,Cote d'Ivoire,Programmable intermediate conglomeration,2005,Apparel / Fashion,5105
3,4,D76BB12E5eE165B,Bauer-Weiss,https://gillespie-stout.com/,United States of America,Synergistic maximized definition,2015,Dairy,9069
4,5,2F31EddF2Db9aAE,Love-Palmer,https://kramer.com/,Denmark,Optimized optimizing moderator,2010,Management Consulting,6991

In [3]:
df.tail(5)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
995,996,e5CEc38aa9A580b,Bullock Group,https://medina-bernard.com/,Turkmenistan,Public-key scalable conglomeration,1998,Wine / Spirits,6547
996,997,cEF9B4675E4bBd0,Mason Inc,https://franco-walls.com/,United States of America,Distributed exuding initiative,2015,Law Enforcement,9723
997,998,9abEb8aaFd25E04,Houston and Sons,http://mcgee.com/,Kenya,Stand-alone multi-state neural-net,1981,Civic / Social Organization,5355
998,999,de5Fc71DE825bFc,Olson-Solomon,https://koch.com/,Cocos (Keeling) Islands,Virtual responsive moderator,2013,Investment Banking / Venture,3825
999,1000,3ddb89ecD83B533,"Maddox, Owen and Shepherd",https://www.hamilton.com/,Guinea,Reactive bottom-line pricing structure,2019,Animation,4467

In [4]:
df.describe()

             Index      Founded  Number of employees
count  1000.000000  1000.000000          1000.000000
mean    500.500000  1995.852000          4964.996000
std     288.819436    15.096026          2812.789035
min       1.000000  1970.000000             1.000000
25%     250.750000  1983.000000          2612.000000
50%     500.500000  1996.000000          4941.000000
75%     750.250000  2009.000000          7348.250000
max    1000.000000  2022.000000          9952.000000

In [5]:
df.dtypes

Index                   int64
Organization Id        object
Name                   object
Website                object
Country                object
Description            object
Founded                 int64
Industry               object
Number of employees     int64
dtype: object

In [10]:
## Handling missing value
df.isnull().any()

Index                  False
Organization Id        False
Name                   False
Website                False
Country                False
Description            False
Founded                False
Industry               False
Number of employees    False
dtype: bool

In [7]:
df.isnull().sum()

Index                  0
Organization Id        0
Name                   0
Website                0
Country                0
Description            0
Founded                0
Industry               0
Number of employees    0
dtype: int64

In [8]:
df_filled=df.fillna(0)

In [11]:
## Filling missing value with a mean of the column
df['website_fillna']=df['website'].fillna(df['website'].mean())
df

KeyError: 'website'

In [11]:
df.dtypes

Index                   int64
Organization Id        object
Name                   object
Website                object
Country                object
Description            object
Founded                 int64
Industry               object
Number of employees     int64
dtype: object

In [15]:
## Renaming columns
df=df.rename(columns={'Name':'ID-23'})
df.head()

,Index,Organization Id,ID-23,Website,Country,Description,Founded,Industry,Number of employees
0,1,E84A904909dF528,Liu-Hoover,http://www.day-hartman.org/,Western Sahara,Ergonomic zero administration knowledge user,1980,Online Publishing,6852
1,2,AAC4f9aBF86EAeF,Orr-Armstrong,https://www.chapman.net/,Algeria,Ergonomic radical budgetary management,1970,Import / Export,7994
2,3,ad2eb3C8C24DB87,Gill-Lamb,http://lin.com/,Cote d'Ivoire,Programmable intermediate conglomeration,2005,Apparel / Fashion,5105
3,4,D76BB12E5eE165B,Bauer-Weiss,https://gillespie-stout.com/,United States of America,Synergistic maximized definition,2015,Dairy,9069
4,5,2F31EddF2Db9aAE,Love-Palmer,https://kramer.com/,Denmark,Optimized optimizing moderator,2010,Management Consulting,6991

In [17]:
## Change data type
df['value_ner']=df['Founded'].astype(int)
df.head()

,Index,Organization Id,ID-23,Website,Country,Description,Founded,Industry,Number of employees,value_ner
0,1,E84A904909dF528,Liu-Hoover,http://www.day-hartman.org/,Western Sahara,Ergonomic zero administration knowledge user,1980,Online Publishing,6852,1980
1,2,AAC4f9aBF86EAeF,Orr-Armstrong,https://www.chapman.net/,Algeria,Ergonomic radical budgetary management,1970,Import / Export,7994,1970
2,3,ad2eb3C8C24DB87,Gill-Lamb,http://lin.com/,Cote d'Ivoire,Programmable intermediate conglomeration,2005,Apparel / Fashion,5105,2005
3,4,D76BB12E5eE165B,Bauer-Weiss,https://gillespie-stout.com/,United States of America,Synergistic maximized definition,2015,Dairy,9069,2015
4,5,2F31EddF2Db9aAE,Love-Palmer,https://kramer.com/,Denmark,Optimized optimizing moderator,2010,Management Consulting,6991,2010

In [12]:
##
df['New_value']=df['Founded'].apply(lambda x:x*2)
df.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,New_value
0,1,E84A904909dF528,Liu-Hoover,http://www.day-hartman.org/,Western Sahara,Ergonomic zero administration knowledge user,1980,Online Publishing,6852,3960
1,2,AAC4f9aBF86EAeF,Orr-Armstrong,https://www.chapman.net/,Algeria,Ergonomic radical budgetary management,1970,Import / Export,7994,3940
2,3,ad2eb3C8C24DB87,Gill-Lamb,http://lin.com/,Cote d'Ivoire,Programmable intermediate conglomeration,2005,Apparel / Fashion,5105,4010
3,4,D76BB12E5eE165B,Bauer-Weiss,https://gillespie-stout.com/,United States of America,Synergistic maximized definition,2015,Dairy,9069,4030
4,5,2F31EddF2Db9aAE,Love-Palmer,https://kramer.com/,Denmark,Optimized optimizing moderator,2010,Management Consulting,6991,4020

In [14]:
## Data Aggregating and Grouping
df.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,New_value
0,1,E84A904909dF528,Liu-Hoover,http://www.day-hartman.org/,Western Sahara,Ergonomic zero administration knowledge user,1980,Online Publishing,6852,3960
1,2,AAC4f9aBF86EAeF,Orr-Armstrong,https://www.chapman.net/,Algeria,Ergonomic radical budgetary management,1970,Import / Export,7994,3940
2,3,ad2eb3C8C24DB87,Gill-Lamb,http://lin.com/,Cote d'Ivoire,Programmable intermediate conglomeration,2005,Apparel / Fashion,5105,4010
3,4,D76BB12E5eE165B,Bauer-Weiss,https://gillespie-stout.com/,United States of America,Synergistic maximized definition,2015,Dairy,9069,4030
4,5,2F31EddF2Db9aAE,Love-Palmer,https://kramer.com/,Denmark,Optimized optimizing moderator,2010,Management Consulting,6991,4020

In [ ]:
grouped_mean=df.groupby('Number of employees')['Founded'].mean()
print(grouped_mean)

KeyError: 'Column not found: \tFounded'

In [17]:
grouped_sum=df.groupby(['Founded','Industry'])['Value'].sum()
print(grouped_sum)

KeyError: 'Column not found: Value'

In [19]:
## Aggregate multiple function
gropued_agg=df.groupby('Founded')['Industry'].agg(['mean','sum','count'])
gropued_agg

TypeError: agg function failed [how->mean,dtype->object]

In [26]:
## Merging and joining Dataframes
## Create sample Dataframe
df1=pd.DataFrame({'keys':['A','B','C'],'Vlaue1':[1,2,3]})
df2=pd.DataFrame({'keys':['A','B','D'],'Vlaue2':[4,5,6]})

In [27]:
df1

  keys  Vlaue1
0    A       1
1    B       2
2    C       3

In [28]:
df2

  keys  Vlaue2
0    A       4
1    B       5
2    D       6

In [24]:
## Merge Dataframe on the 'Key Columns'
pd.merge(df1,df2,on="keys",how="inner")

  keys  Vlaue1  Vlaue2
0    A       1       4
1    B       2       5
2    C       3       6

In [29]:
pd.merge(df1,df2,on="keys",how="outer")

  keys  Vlaue1  Vlaue2
0    A     1.0     4.0
1    B     2.0     5.0
2    C     3.0     NaN
3    D     NaN     6.0

In [30]:
pd.merge(df1,df2,on="keys",how="left")

  keys  Vlaue1  Vlaue2
0    A       1     4.0
1    B       2     5.0
2    C       3     NaN

In [31]:
pd.merge(df1,df2,on="keys",how="right")

  keys  Vlaue1  Vlaue2
0    A     1.0       4
1    B     2.0       5
2    D     NaN       6